<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>トップページ</title>
</head>

<body>
    <header>
        <p>ここに画像</p>
        <nav>
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </nav>
    </header>
    <article>
        <section>
            <div>
                <h1>自主勉強ページ作成</h1>
                <p class="subhead">本ページは、GulpとEJSで作成!</p>
            </div>
        </section>
    </article>
</body>
</html>