<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>トップページ</title>
</head>
<% 
    const title = "自主勉強ページ作成" 
    const subTitle = "本ページは、GulpとEJSで作成!"
%>
<body>
    <header>
        <p>ここに画像</p>
        <nav>
            <ul>
                <li>概要</li>
                <li>修正履歴</li>
            </ul>
        </nav>
    </header>
    <article>
        <section>
            <div>
                <h1><%= title %></h1>
                <p class="subhead"><%= subTitle %></p>
            </div>
            <div>
                <h2>概要</h2>
                【目的】EJSの勉強。<br>
                ・HTMLで仮組した後にEJSで作り直す<br>
                ・「browser-sync」でbrowser確認
            </div>
        </section>
    </article>
</body>
</html>